*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/
.idea/*.xml
*.log
.settings/
data/output
config/desc/*.xml
*.iml
target/
/src/test/resources/output/
/.idea/
.DS_Store

# Don't track generated types
generated-types/
generated-sources/
/xmi/
